body{
    margin: 0;
    padding: 0;
   
}

.container{
    display: flex;
}

.form-left-section{
    background-color: #edabab;
    width: 60%;
    padding: 65px 0;
    
    
}
.form-left-wrapper{
    padding-left: 20%;
    position: relative;
    
}

form .name{
    padding-bottom: 28px;
}


input{
    background: hsl(60, 69%, 90%);
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    width: 40%;
    
}

textarea{
    background: hwb(60 78% 4%);
    border: none;
    padding: 12px 20px;
    width: 88.8%;
    height: 100px;
    border-radius: 5px;
}

.primary-btn{
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 15px;
    border: none;
    font-weight: 600;
    cursor:pointer ;

}
button{
    background: beige;
    color: hwb(33 60% 7%);
    bottom: 60%;

}

.primary-btn:hover{
    color: hsl(264, 87%, 35%);
    background:transparent ;
}

h2{
    color: #e9d4d4;
    font-size: 30px;
    transform: rotate(-90deg);
    position: absolute;
    left: 0;
    bottom: 48%;
}


h2,h4{
    font-family: 'Courier New', Courier, monospace;
}

h4{
    font-size: 28px;
    color: rgb(131, 192, 242);
    
}

.form-right-section{
    width: 40%;
    background: hsl(156, 65%, 91%);
    padding: 20px 0;
    padding-left: 20px;
    

}


.feature-list ul{
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
    list-style: none;
}


.feature-list ul li{
    padding: 8px;
   

}






/* Start Responsive Css Code  */


/********************************************************/
/* over devices **********************************/
/***/ 
@media only screen and (min-width: 1600px){


}

/********************************************************/
/* xxl devices **********************************/
/***/   
@media only screen and (min-width: 1400px) and (max-width: 1599px) {


}

/********************************************************/
/* xl devices **********************************/
/***/ 
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
 

}


/********************************************************/
/* lg devices **********************************/
/***/  
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    


}
  
/********************************************************/
/* md devices **********************************/
/********************************************************/

@media only screen and (min-width: 768px) and (max-width: 991px) {

  

}
  

/********************************************************/
/* xs devices 320 to 767 **********************************/
/********************************************************/
@media (max-width: 767px){
    
    .container {
        display: block;
    
    }

    .form-left-section {
        width: 100%;
        margin-top: 0;
       
      
        
    }

    form .name{
        padding-bottom: 0;
        display: block;
        
    }

    .form-left-wrapper{
          
          padding: 30px;
         
         
             
        
    }
    input{
        width: 100%;
        padding: 20px 0;
        margin-bottom: 25px;
        padding-left: 10px;
        
    }
    
   


    .form-right-section {
        width: 100%;
        padding: 20px 0;
        padding-left:20px;
    

    }
    h2{
        font-size: 50px;
        position: inherit;
        transform: rotate(0deg);
        text-align: center;
        margin-top: 0;
        bottom: 40px;
       
        
    }

    textarea{
        width: 100%;
        height: 120px;
        padding: 12px 0;
        padding-left: 10px;
        margin-bottom: 20px;
       
    }

}        





/********************************************************/
/* sm devices **********************************/
/********************************************************/

@media only screen and (min-width: 576px) and (max-width: 767px) {

 
}
